<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <title>Gestione Evento</title>
<head th:insert="header.html :: header">
<meta charset="UTF-8">
</head>
<body>
	
<div class="container" >
	<div th:insert="navbar.html :: navbar"></div>
<h1>Gestione Evento</h1>

<p><a th:href="@{/gara/}" class="btn btn-primary mb-3">Search</a></p>

<p><a th:href="@{/gara/medagliere}" class="btn btn-primary mb-3">Medagliere</a></p>

<a th:href="@{/gara/back}" class="btn btn-secondary mb-3">Back</a>

</div>
</body>
</html>
