<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <title>Medagliere Atleta</title>
    
<head th:insert="fragments/../header.html :: header">
	<meta charset="UTF-8">
</head>
<body>
	
<main class="container">
	<div th:insert="navbar.html :: navbar"></div>

	<main role="main" class="container">

		
		<div class='card'>
		    <div class='card-header'>
		        <h1>Medagliere Atleta</h1>
		    </div>
		
		    <div class='card-body'>
		    	<dl class="row">
				  <dt class="col-sm-3 text-right">Nome:</dt>
				  <dd class="col-sm-9" th:text="${atleta.nome}"></dd>
		    	</dl>
		    	
		    	 <dl class="row">
				  <dt class="col-sm-3 text-right">Cognome:</dt>
				  <dd class="col-sm-9" th:text="${atleta.cognome}"></dd>
		    	</dl>
		    	
 		    	<dl class="row">
				  <dt class="col-sm-3 text-right">Oro:</dt>
				  <dd class="col-sm-9" th:text="${atleta.oro}"></dd>
		    	</dl>
		    	
		    	<dl class="row">
				  <dt class="col-sm-3 text-right">Argento:</dt>
				  <dd class="col-sm-9" th:text="${atleta.argento}"></dd>
		    	</dl> 
		    	
		    	<dl class="row">
				  <dt class="col-sm-3 text-right">Bronzo:</dt>
				  <dd class="col-sm-9" th:text="${atleta.bronzo}"></dd>
		    	</dl>  

 		    	
		    	<a th:href="@{/carriera/home}" class="btn btn-secondary mb-3">Back</a>
		    	
		    </div>
		    
		</div>	
	
	
	</main>

</main>
</body>
</html>
