<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <title>Homepage</title>
<head th:insert="header.html :: header">
<meta charset="UTF-8">
</head>
<body>
<div class="container" >
<h1>Welcome</h1>

<p><a th:href="@{/evento/home}" class="btn btn-primary mb-3">Gestione Evento</a></p>

<p><a th:href="@{/rappresentanza/home}" class="btn btn-primary mb-3">Gestione Rappresentanza</a></p>

<p><a th:href="@{/carriera/home}" class="btn btn-primary mb-3">Gestione Carriera</a></p>

</div>
</body>
</html>
