<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <title>Gestione Rappresentanza</title>
<head th:insert="header.html :: header">
<meta charset="UTF-8">
</head>
<body>
<div class="container" >
<h1>Gestione Rappresentanza</h1>

<p><a th:href="@{/rappresentanza/crea}" class="btn btn-primary mb-3">Registra Rappresentante</a></p>

<p><a th:href="@{/carriera/crea}" class="btn btn-primary mb-3">Iscrivi Atleta</a></p>

<!-- <p><a th:href="@{/carriera/cerca}" class="btn btn-primary mb-3">Search</a></p> -->

<p><a th:href="@{/rappresentanza/medagliere}" class="btn btn-primary mb-3">Medagliere</a></p>

</div>
</body>
</html>
