<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <title>Medagliere</title>
<head th:insert="fragments/../header.html :: header">
	<meta charset="UTF-8">
</head>
<body>
<main class="container">
<h1>Classifica Atleti</h1>

<table class='table table-striped'>
    <thead>
    <tr>
        <th>Oro</th>
        <th>Argento</th>
        <th>Bronzo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="atleta : ${atleti}">

        <td th:text="${atleta.oro}"></td>
        <td th:text="${atleta.argento}"></td>
        <td th:text="${atleta.bronzo}"></td>
                
    </tr>
    <a th:href="@{/rappresentanza/home}" class="btn btn-secondary mb-3">Back</a>
    </tbody>
</table>
</main>
</body>
</html>
